@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: hsl(0, 0%, 95%);
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;
}

.card {
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-inline: auto;
	margin-block: 10% auto;
	max-width: 21.67em;
	width: 90%;
}

h2 {
	color: hsl(0, 0%, 95%);
	font-family: 'Big Shoulders Display', sans-serif;
	font-size: 2.75rem;
	text-transform: uppercase;
}

p {
	color: hsla(0, 0%, 100%, 0.75);
	line-height: 1.75em;
	padding-bottom: 1.5em;
}

.sedan,
.suv,
.luxury {
	padding: 3em;
}

.sedan {
	background-color: hsl(31, 77%, 52%);
}

.suv {
	background-color: hsl(184, 100%, 22%);
}

.luxury {
	background-color: hsl(179, 100%, 13%);
}

.learn {
	border: solid 3px hsl(0, 0%, 95%);
	border-radius: 3rem;
	padding: 1em 3em;
	background-color: hsl(0, 0%, 95%);
	font-family: 'Lexend Deca', sans-serif;
}

.learn:hover {
	cursor: pointer;
	border: solid 3px hsla(0, 0%, 100%, 0.75);
}

.sedan .learn {
	color: hsl(31, 77%, 52%);
}

.sedan .learn:hover {
	background-color: hsl(31, 77%, 52%);
	color: hsla(0, 0%, 100%, 0.75);
}

.suv .learn {
	color: hsl(184, 100%, 22%);
}

.suv .learn:hover {
	background-color: hsl(184, 100%, 22%);
	color: hsla(0, 0%, 100%, 0.75);
}

.luxury .learn {
	color: hsl(179, 100%, 13%);
}

.luxury .learn:hover {
	background-color: hsl(179, 100%, 13%);
	color: hsla(0, 0%, 100%, 0.75);
}

.attribution {
	margin-block: auto 2vh;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 1000px) {
	.card {
		flex-direction: row;
		justify-content: center;
		max-width: 900px;
		width: 90%;
	}
	section {
		padding: 6em;
		position: relative;
	}
	.learn {
		margin-top: auto;
	}
}
